.bg{
    background-color: rgb(153,177,149);
    @apply border-gray-500 font-bold
}
.btn{
    background-color: rgb(153,177,149);
    @apply px-4 py-2 mt-20 font-bold text-xl
}
.btn2{
    background-color: rgb(52,100,42)  
}
.footer{
    background-color: rgb(153,177,149);
}
.social{
    background-color: rgb(153,177,149);
    @apply flex gap-2 pt-3 ;
}
.icons{
    background-color: black;
    color:rgb(153,177,149);
    @apply rounded-full
}
.login{ background-color: gray;
        background-image: url("img/welcome.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @apply h-screen opacity-95
}
.umubyeyi{
    background-color: rgb(76,88,74);
}
.umubyeyidash{
    background-color: rgb(153,177,149);
}